@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
.body{
    width: 99.2vw;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}
.loginBox{
    position: absolute;
    height: 60vh;
    border-radius: 15px 15px 15px 15px ;
    width: 23vw;
    right: 0;
    margin-right: 38vw;
    margin-top: 20vh;
    z-index: 1;
    color: aliceblue;
    background-color: #ffffff2d;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.158);;
}