<div class="row">

    <div class="col-7" style="padding-right: 0;">
        <div>
            <app-data-cards></app-data-cards>
        </div>
        <div class="d-flex">
            <div class="card" style="width: 48.8%; margin: 2px;">
                <app-radial-chart-widget></app-radial-chart-widget>
            </div>
            <div class="card" style="margin: 2px;">
                <app-bar-chart-widget></app-bar-chart-widget>
            </div>
        </div>
    </div>

    <div class="col-5" style="padding-left: 0;">
        <div class="card">
            <app-line-chart-widget></app-line-chart-widget>
        </div>
    </div>
    
</div>

<div class="d-flex">
    <div class="mapCard">
        <app-leaf-let-map></app-leaf-let-map>
    </div>
    <div class="mapCard" style="width: 100%;">
        <app-service-status></app-service-status>
    </div>
</div>