.card{
    padding: 20px;
    width: 100%;
    height: fit-content;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 10px 0px var(--card-shadow-color);
    background-color: var(--card-color);
}
.mapCard{
    position: relative;
    padding: 3px;
    margin: 2px;;
    width: fit-content;
    height: fit-content;
    z-index: 0;
    background-color: var(--card-color);
}